code[class*="language-"],
pre[class*="language-"] {
    color: #657b83; /* base00 */
    font-family: 'Space Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 16px;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    transition: 0.4s ease;
    line-height: 1.65;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
    background: #eee8d5; /* base02 */
}
pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
    background: #eee8d5; /* base02 */
}
/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: 0.5em 0 1.5em 0;
    overflow: auto;
    border-radius: 0.3em;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background-color: rgba(253,246,227,0.5);
}